<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />

    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>

    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Hack36</title>
    <!-- Bootstrap Styles-->

    <link
      href="{{url_for('static', filename='css/bootstrap.css')}}"
      rel="stylesheet"
    />
    <!-- FontAwesome Styles-->
    <link
      href="{{url_for('static', filename='css/font-awesome.css')}}"
      rel="stylesheet"
    />
    <!-- Custom Styles-->
    <link
      href="{{url_for('static', filename='css/custom-styles.css')}}"
      rel="stylesheet"
    />
    <!-- Google Fonts-->
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Favicon icon -->
    <link
      rel="icon"
      href="{{url_for('static', filename='assets/images/favicon.ico')}}"
      type="image/x-icon"
    />
    <!-- Google font-->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500"
      rel="stylesheet"
    />
    <!-- waves.css -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='assets/pages/waves/css/waves.min.css')}}"
      type="text/css"
      media="all"
    />
    <!-- Required Fremwork -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='assets/css/bootstrap/css/bootstrap.min.css')}}"
    />
    <!-- waves.css -->

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='assets/pages/waves/css/waves.min.css')}}"
      type="text/css"
      media="all"
    />
    <!-- themify icon -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='assets/icon/themify-icons/themify-icons.css')}}"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='assets/icon/font-awesome/css/font-awesome.min.css')}}"
    />
    <!-- scrollbar.css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='assets/css/jquery.mCustomScrollbar.css')}}"
    />
    <!-- am chart export.css -->
    <link
      rel="stylesheet"
      href="https://www.amcharts.com/lib/3/plugins/export/export.css"
      type="text/css"
      media="all"
    />
    <!-- Style.css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='assets/css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}"
    />
  </head>
  <style>
    .navbar {
      transition: all 0.4s;
      background-color: #323232 !important;
    }

    .navbar .nav-link {
      color: #fff;
    }

    .navbar .nav-link:hover,
    .navbar .nav-link:focus {
      color: #fff;
      text-decoration: none;
    }

    .navbar .navbar-brand {
      color: #fff;
    }

    /* Change navbar styling on scroll */
    .navbar.active {
      background: #fff;
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    }

    .navbar.active .nav-link {
      color: #555;
    }

    .navbar.active .nav-link:hover,
    .navbar.active .nav-link:focus {
      color: #555;
      text-decoration: none;
    }

    .navbar.active .navbar-brand {
      color: #555;
    }

    /* Change navbar styling on small viewports */
    @media (max-width: 991.98px) {
      .navbar {
        background: #fff;
      }

      .navbar .navbar-brand,
      .navbar .nav-link {
        color: #555;
      }
    }
    @media (min-width: 768px) {
      .navbar > .container .navbar-brand,
      .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
        font-size: 18px;
        padding-top: 12px;
      }
    }
  </style>

  <body>
    <!-- Navbar-->

    <header class="header">
      <nav
        class="navbar navbar-expand-lg fixed-top py-3"
        style="position: fixed !important"
      >
        <div class="container">
          <a href="#" class="navbar-brand text-uppercase font-weight-bold">
            CoviSafe</a
          >
          <button
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler navbar-toggler-right"
          >
            <i class="fa fa-bars"></i>
          </button>

          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a
                  href="/"
                  class="nav-link text-uppercase"
                  style="font-size: 16px"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>

              <li class="nav-item">
                <a
                  href="/saferoutes"
                  class="nav-link text-uppercase"
                  style="font-size: 16px"
                  >Safe Routes</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="/vaccine"
                  class="nav-link text-uppercase"
                  style="font-size: 16px"
                  >Vaccine Sentiments</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div id="custom-map-controls"></div>
              <form id="SafeRoutesForm">
                <div id="src" style="height: 25px">
                  <b class="mx-3" style="font-size: 14px !important"
                    >Enter Source</b
                  >
                </div>
                <input
                  class="form-control"
                  type="text"
                  name="location1"
                  id="location1"
                  readonly
                />
                <br />
                <div id="dest" style="height: 25px">
                  <b class="mx-3" style="font-size: 14px !important"
                    >Enter Destination</b
                  >
                </div>
                <input
                  class="form-control"
                  type="text"
                  name="location2"
                  id="location2"
                  readonly
                />
                <br /><br />
                <div style="text-align: center">
                  <input
                    type="button"
                    onclick="saferoutesfunc()"
                    class="btn btn-dark"
                    value="Find Route"
                    style="
                      background-color: #323232;
                      color: white;
                      font-size: 15px;
                      width: 200px;
                    "
                  />
                  <input
                    type="button"
                    onclick="showStoredRoutes()"
                    class="btn btn-dark"
                    value="Show Separate Routes"
                    style="
                      background-color: #323232;
                      color: white;
                      font-size: 15px;
                      width: 200px;
                    "
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6 pull-right" style="text-align: center">
          <img
            src="{{url_for('static', filename='img/map_image.svg')}}"
            alt=""
            style="height: 250px; width: 300px"
          />
        </div>
      </div>

      <div class="row" id="maps" style="display: none">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div id="mapid1" class="panel-body" style="height: 500px"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div id="mapid2" class="panel-body" style="height: 500px"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div id="mapid3" class="panel-body" style="height: 500px"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div id="mapid"></div>
        </div>
      </div>
    </div>

    <script>
      var latlng;
      var mymap, mymap2;
      var crimeLocation;
      var coodsLat = [];
      var coodsLng = [];
      var currLat;
      var currLong;

      navigator.geolocation.getCurrentPosition(function (location) {
        latlng = new L.LatLng(
          location.coords.latitude,
          location.coords.longitude
        );
        currLat = location.coords.latitude;
        currLong = location.coords.longitude;
        mymap = L.map("mapid").setView(latlng, 13);
        mymap.locate({ watch: true });

        L.tileLayer("http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}", {
          maxZoom: 20,
          subdomains: ["mt0", "mt1", "mt2", "mt3"],
        }).addTo(mymap);
        L.control.scale().addTo(mymap);

        var searchControl = new L.esri.Controls.Geosearch().addTo(mymap);
        var searchControl2 = new L.esri.Controls.Geosearch().addTo(mymap);
        var results = new L.LayerGroup().addTo(mymap);
        $(document).ready(function () {
          var newParent = document.getElementById("src");
          var newParent2 = document.getElementById("dest");
          var oldParent = document.getElementsByClassName(
            "leaflet-top leaflet-left"
          );
          var i = 1;
          while (oldParent[0].childNodes.length > 0) {
            if (i == 1) {
              newParent.appendChild(oldParent[0].childNodes[0]);
              //newParent2.appendChild(oldParent[0].childNodes[0]);
              i++;
            }
            if (i == 2) {
              newParent.appendChild(oldParent[0].childNodes[0]);
              i++;
            }
            if (i == 3) {
              newParent2.appendChild(oldParent[0].childNodes[0]);
              i++;
            }
          }
          $(".leaflet-control-zoom").css("display", "none");
        });

        searchControl.on("results", function (data) {
          //results.clearLayers();
          for (var i = data.results.length - 1; i >= 0; i--) {
            srcMarker = L.marker(data.results[i].latlng);
            results.addLayer(srcMarker);
            coodsLat.push(data.results[i].latlng.lat);
            coodsLng.push(data.results[i].latlng.lng);
            console.log(data.results[i]);
            document.getElementById("location1").value = data.results[i].text;
            srcCood = {
              lat: data.results[i].latlng.lat,
              lng: data.results[i].latlng.lng,
            };
          }
        });

        searchControl2.on("results", function (data) {
          //results.clearLayers();
          for (var i = data.results.length - 1; i >= 0; i--) {
            destMarker = L.marker(data.results[i].latlng);
            results.addLayer(destMarker);
            coodsLat.push(data.results[i].latlng.lat);
            coodsLng.push(data.results[i].latlng.lng);
            console.log(data.results[i]);
            document.getElementById("location2").value = data.results[i].text;
            destCood = {
              lat: data.results[i].latlng.lat,
              lng: data.results[i].latlng.lng,
            };
          }
        });

        L.marker(latlng).addTo(mymap);
      });
      var LeafIcon = L.Icon.extend({
        options: {
          iconSize: [40, 55],
          shadowSize: [50, 64],
          iconAnchor: [22, 94],
          shadowAnchor: [4, 62],
          popupAnchor: [-3, -76],
        },
      });
      var greenIcon = new LeafIcon({
          iconUrl: "{{url_for('static', filename='images/green.png')}}",
        }),
        redIcon = new LeafIcon({
          iconUrl: "{{url_for('static', filename='images/red.png')}}",
        }),
        orangeIcon = new LeafIcon({ iconUrl: "leaf-orange.png" });

      $(document).on("submit", "#reportcrime", function (event) {
        event.preventDefault();
        var $form = $(this),
          url = $form.attr("action");
        var paramArr = $("#reportcrime").serializeArray();
        paramArr.push({ name: "lat", value: crimeLocation.lat });
        paramArr.push({ name: "lng", value: crimeLocation.lng });
        $.post(url, $.param(paramArr), function (result) {
          alert("success");
        });
        return false;
      });

      $(document).on("submit", "#SOSForm", function (event) {
        event.preventDefault();
        var $form = $(this),
          url = $form.attr("action");
        var paramArr = $("#SOSForm").serializeArray();
        currCoods = currLat.toString() + "," + currLong.toString();

        paramArr.push({ name: "coords", value: currCoods });
        console.log("hello");
        console.log(currCoods);

        $.post(url, $.param(paramArr), function (result) {
          alert("success");
        });
        return false;
      });
      var storedRoutes = [];
      function saferoutesfunc() {
        var HttpClient = function () {
          this.get = function (aUrl, aCallback) {
            var anHttpRequest = new XMLHttpRequest();
            anHttpRequest.onreadystatechange = function () {
              if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                aCallback(anHttpRequest.responseText);
            };

            anHttpRequest.open("GET", aUrl, true);
            anHttpRequest.send(null);
          };
        };
        myloc1Lat = srcCood.lat;
        myloc1Long = srcCood.lng;
        myloc2Lat = destCood.lat;
        myloc2Long = destCood.lng;
        var group = new L.featureGroup([srcMarker, destMarker]);

        mymap.fitBounds(group.getBounds());
        var covidZones = new HttpClient();
        // pqr = "https://data.geoiq.io/dataapis/v1.0/covid/nearbyzones?key=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJtYWlsSWRlbnRpdHkiOiJnYXlhdHJpdmFzYW4xQGdtYWlsLmNvbSJ9.aE-U-VHBvXrUWdAY4OBcrwZ8IVZB9J_YybGZv8LqMRY&lng="+myloc1Long+"&lat="+myloc1Lat+"&radius=1000";
        // covidZones.get(pqr,function(response){
        //     let zones = JSON.parse(response);
        //     console.log(zones);

        // });
        const Url = "https://data.geoiq.io/dataapis/v1.0/covid/nearbyzones";
        const Data = {
          key:
            "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJtYWlsSWRlbnRpdHkiOiJnYXlhdHJpdmFzYW4xQGdtYWlsLmNvbSJ9.aE-U-VHBvXrUWdAY4OBcrwZ8IVZB9J_YybGZv8LqMRY",
          lng: myloc1Long,
          lat: myloc1Lat,
          radius: 2000,
        };
        const otherParam = {
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(Data),
          method: "POST",
        };
        N = 10;
        var containmentZones = "";
        fetch(Url, otherParam)
          .then((data) => data.json())
          .then((data) => {
            console.log(data);
            for (var i = 0; i < data.containmentZoneNames.length; i++) {
              var getCoords = new HttpClient();
              console.log(data.containmentZoneNames[i]);
              pqr =
                "https://geocoder.ls.hereapi.com/6.2/geocode.json?apiKey=N2AFSomTN5V2AoOG6_Lqq8lVFxaKO0uM4H-Y4Q0mWhU&searchtext=" +
                data.containmentZoneNames[i] +
                " dombivli";
              getCoords.get(pqr, function (response) {
                let result = JSON.parse(response);
                lat1 = result.latitude - 0.009 * N;
                lat2 = result.latitude + 0.009 * N;
                lon1 = result.longitude - 0.009 * N;
                lon2 = result.longitude + 0.009 * N;
                containmentZones +=
                  "" + lon1 + "," + lat1 + ";" + lon2 + "," + lat2 + "!";
                console.log(result);
              });
            }
          });

        var geocoderAPISrc = new HttpClient();
        //abc = "https://route.ls.hereapi.com/routing/7.2/calculateroute.json?apiKey=N2AFSomTN5V2AoOG6_Lqq8lVFxaKO0uM4H-Y4Q0mWhU&waypoint0=geo!52.5184443440238,13.383906494396967&waypoint1=geo!52.51435421904425,13.396947378094524&mode=fastest;car;traffic:disabled&avoidareas=52.517100760,13.3905424488;52.5169701849,13.391808451!52.51623131288022,13.389888672738778;52.51335487996589,13.395274548440511!52.52006148651319,13.385160024545286;52.517760038213815,13.389707563495335"
        abc =
          "https://route.ls.hereapi.com/routing/7.2/calculateroute.json?waypoint0=" +
          myloc1Lat +
          "%2C" +
          myloc1Long +
          "&waypoint1=" +
          myloc2Lat +
          "%2C" +
          myloc2Long +
          "&mode=fastest%3Bcar&alternatives=3&apiKey=N2AFSomTN5V2AoOG6_Lqq8lVFxaKO0uM4H-Y4Q0mWhU&avoidareas=" +
          containmentZones;
        geocoderAPISrc.get(abc, function (response) {
          // do something with response
          let result = JSON.parse(response);
          console.log("Here maps res: ");
          routes = result.response.route;
          // item = routes[4];
          // myroute = item.leg[0].maneuver;
          // //console.log(myroute);
          // latlngs = [];
          // myroute.forEach(function (item, index) {
          //     console.log(item.instruction);
          //     console.log(item.position.latitude + " , " + item.position.longitude)
          //     var routeMarker = new L.LatLng(item.position.latitude, item.position.longitude);
          //     L.marker(routeMarker).addTo(mymap);
          //     latlngs.push([item.position.latitude, item.position.longitude])
          // });

          colors = ["red", "blue", "green", "yellow", "orange", "black"];
          j = 0;
          routes.forEach(function (item, index) {
            if (index <= 2) {
              console.log(index);
              myroute = item.leg[0].maneuver;
              //console.log(myroute);
              latlngs = [];
              storedRoutes[index] = myroute;
              myroute.forEach(function (item, index) {
                console.log(item.instruction);
                console.log(
                  item.position.latitude + " , " + item.position.longitude
                );
                var routeMarker = new L.LatLng(
                  item.position.latitude,
                  item.position.longitude
                );
                L.marker(routeMarker).addTo(mymap);
                latlngs.push([item.position.latitude, item.position.longitude]);
                var polyline = L.polyline(latlngs, {
                  color: colors[j],
                }).addTo(mymap);
                // zoom the map to the polyline
                mymap.fitBounds(polyline.getBounds());
              });
              j++;
            }
          });
        });
      }
      function showStoredRoutes() {
        document.getElementById("maps").style.display = "block";
        document.getElementById("mapid").style.display = "none";
        //route1
        mymap1 = L.map("mapid1").setView(latlng, 13);
        mymap1.locate({ watch: true });

        L.tileLayer("http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}", {
          maxZoom: 20,
          subdomains: ["mt0", "mt1", "mt2", "mt3"],
        }).addTo(mymap1);
        L.control.scale().addTo(mymap1);

        myroute = storedRoutes[0];
        //console.log(myroute);
        latlngs = [];
        myroute.forEach(function (item, index) {
          console.log(item.instruction);
          console.log(item.position.latitude + " , " + item.position.longitude);
          var routeMarker = new L.LatLng(
            item.position.latitude,
            item.position.longitude
          );
          L.marker(routeMarker).addTo(mymap1);
          latlngs.push([item.position.latitude, item.position.longitude]);
          var polyline = L.polyline(latlngs, {
            color: colors[0],
          }).addTo(mymap1);
          // zoom the map to the polyline
          mymap1.fitBounds(polyline.getBounds());
        });
        //route2
        mymap2 = L.map("mapid2").setView(latlng, 13);
        mymap2.locate({ watch: true });

        L.tileLayer("http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}", {
          maxZoom: 20,
          subdomains: ["mt0", "mt1", "mt2", "mt3"],
        }).addTo(mymap2);
        L.control.scale().addTo(mymap2);

        myroute = storedRoutes[1];
        //console.log(myroute);
        latlngs = [];
        myroute.forEach(function (item, index) {
          console.log(item.instruction);
          console.log(item.position.latitude + " , " + item.position.longitude);
          var routeMarker = new L.LatLng(
            item.position.latitude,
            item.position.longitude
          );
          L.marker(routeMarker).addTo(mymap2);
          latlngs.push([item.position.latitude, item.position.longitude]);
          var polyline = L.polyline(latlngs, {
            color: colors[1],
          }).addTo(mymap2);
          // zoom the map to the polyline
          mymap2.fitBounds(polyline.getBounds());
        });

        //route3
        mymap3 = L.map("mapid3").setView(latlng, 13);
        mymap3.locate({ watch: true });

        L.tileLayer("http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}", {
          maxZoom: 20,
          subdomains: ["mt0", "mt1", "mt2", "mt3"],
        }).addTo(mymap3);
        L.control.scale().addTo(mymap3);

        myroute = storedRoutes[2];
        //console.log(myroute);
        latlngs = [];
        myroute.forEach(function (item, index) {
          console.log(item.instruction);
          console.log(item.position.latitude + " , " + item.position.longitude);
          var routeMarker = new L.LatLng(
            item.position.latitude,
            item.position.longitude
          );
          L.marker(routeMarker).addTo(mymap3);
          latlngs.push([item.position.latitude, item.position.longitude]);
          var polyline = L.polyline(latlngs, {
            color: colors[2],
          }).addTo(mymap3);
          // zoom the map to the polyline
          mymap3.fitBounds(polyline.getBounds());
        });
        var redIcon = new L.Icon({
          iconUrl:
            "https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png",
          shadowUrl:
            "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png",
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41],
        });
      }
    </script>
  </body>
  <!-- JS Scripts-->
  <!-- jQuery Js -->
  <script src="{{url_for('static', filename='js/jquery-1.10.2.js')}}"></script>
  <!-- Bootstrap Js -->
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <!-- Metis Menu Js -->
  <script src="{{url_for('static', filename='js/jquery.metisMenu.js')}}"></script>
  <script src="{{url_for('static', filename='js/easypiechart.js')}}"></script>
  <script src="{{url_for('static', filename='js/easypiechart-data.js')}}"></script>
  <script src="{{url_for('static', filename='js/Lightweight-Chart/jquery.chart.js')}}"></script>
  <!-- Custom Js -->
  <script src="{{url_for('static', filename='js/custom-scripts.js')}}"></script>
</html>
